body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#btn {
    border-radius: 30px;
    border-style: none;
    padding: 10px 15px;
    color: #690093c2;
    background-color: #0069ff4d;
    font-weight: 900;
}

#btn:hover {
    cursor: pointer;
    background-color: #006aff70;
}

.container {
    width: 960px;
    height: 960px;
    border: 2px black solid;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    display: flex;
    box-sizing: border-box;
    border: 1px black solid;
    flex-grow: 1;
}

.pixel:hover {
    border: 1px solid rgb(252, 3, 3);
}